
main
    margin: 20px 10%

// generalities

.fw600
    font-weight: 600

.fw300
    font-weight: 300

.fs48
    font-size: 32px

.fs24
    font-size: 18px

.fs18
    font-size: 14px

.text-center
    text-align: center

.h-center
    margin: 0 auto

// components
h1
    margin-bottom: 20px

.main-title
    color: #000
    margin-top: 100px

.second-title-container
    width: 60%

.nav-container
    width: 100%